# Ignore node_modules folders
frontend/node_modules/
backend/node_modules/
backend_admin/node_modules/
backend_admin/.env
*/node_modules/
# Ignore logs
*.log
logs/
npm-debug.log*

# Ignore environment variables
*.env
.env.local

# Ignore build output
frontend/build/
backend/dist/
backend/build/

# Ignore system files
.DS_Store
Thumbs.db
